<nav>
    <ul>
        <li>
            <a href="/blogs">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blogs/create">create</a>
        </li>
    </ul>
</nav>